.container{
    background-color: blueviolet;
    padding: 15px;
    display: flex;
    display-wrap: wrap;
    justify-content: space-evenly;
    justify-content: space-around;
}
.box{background-color: rgb(154, 63, 63);
    padding: 10px;
    width: 200px;
    height: 200px;
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white
}
.container .box-1{
    border-radius: 50%;
    background-color: green;

}

.container-block{
    margin-top: 50px;
    background-color: blueviolet;
    padding: 15px
}

.container-block .box{
    background-color: aquamarine;
    display: 10px;
    display: inline-block;
    
}