@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
}

@font-face {
  font-family: gandhi;
  src: url("../fonts/TipografiaGandhi/GandhiSans-Regular.otf");
}


@font-face {
  font-family: kallaikos;
  src: url("../fonts/kallaikosrevve/kallaikosrevve.regular.ttf");
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}

.header-menu {
  padding-right: 20px;
  padding-left: 20px;
}

.demo-icon {
  color: white;
  transition: all 1s;
}
.demo-icon:hover {
  color: lightgreen;
}
.left-menu {
  font-family: gandhi;
}
.right-menu {
  font-family: gandhi;
}
.services {
  border: 1px;
  max-width: 1400px;

  margin: 0 auto;
}

.services h2 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

.services ul {
  list-style: none;
  border: 1px;
  max-width: 1000px;
  margin: auto;
}

.services ul li {
  width: 200px;
  height: 200px;
  border: 1px;
  margin: 15px;
  box-shadow: -19px -6px 40px 26px rgba(0,0,0,0.1);
}

.services ul .grafico{
  rotate: -45deg;
  
  width: 180px;
  height: 180px;
  border: 1px;
  margin: 15px;
}

.grafico h3{
  rotate: 45deg;
}

/*
p{
    margin: 0;
}
*/

.ilustracion {
  background-color: aqua;
}

.creatividade {
  background-color: lightgreen;
  border-radius: 50%;
}

.grafico {
  background-color: violet;
}

.services ul {
  background-color: lightgray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.destinatarios div {
  border: 1px;
  background-color: rgba(200, 200, 200, 0.5);
}

body {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  order: 1;
  width: 60px;
}

header .logo img{
 width: 100%;
}

header .left-menu {
  order: 0;
}

header .right-menu {
  order: 2;
}

.destinatarios p {
  margin: 16px;
  border: black;
}

.destinatarios {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  text-align: center;
}

.bg-green {
  background-color: yellowgreen;
}

.bg-green .centered {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-green img {
  border: 2px solid green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -19px -6px 40px 26px rgba(0,0,0,0.1);
}

footer {
  margin-top: 70px;
}

/* pagina de tipografía*/
#demo-font{
  width: 100% ;
  padding: 15px;
  margin-top: 15px;
  background-color: burlywood;
  box-shadow: inset -25px 46px 25px -3px rgba(0,0,0,0.2);
}
.kallaikos{
  font-family: kallaikos;

}

.ubuntu{
  font-family: Ubuntu;
}

/* fin pagina de tipografia*/

@media (min-width: 768px) {
  .services ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .destinatarios {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -16px;
  }
  .destinatarios > div {
    flex: 1;
  }

  .bg-green .centered {
    display: flex;
    justify-content: space-between;
  }

  .bg-green .centered .left {
    display: flex;
    align-items: center;
  }

  .bg-green .centered .right {
    display: flex;
    align-items: center;
  }
  .bg-green .centered .left .block-1 {
    padding-right: 160px;
    position: relative;
  }

  .photofooter {
    position: absolute;
    top: -75px;
    right: 19px;
  }
}
